@use '/src/styles/colors.scss';
@use '../../styles/mixins.scss' as *;


.midleContainer {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 20px 0px 20px 0px;

    .receivingData {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        width: 150px;
        padding: 1rem;
        font-size: 12px;
        border-radius: 10px;
        color: colors.$white;
        background: colors.$darkBluePurple;
    }

    @include mobile {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 16px;
        width: 100%;
        max-width: 400px;
        margin: 20px 0px 20px 0px;

        .receivingData{
            width: 100%;
            min-width: 0;
        }
    }


}