@use '../../styles/mixins.scss' as *;

.shape1 {
    width: min(42vw, 500px);
    height: 150px;

    left: -100px;
    bottom: -120px;

    background: rgba(80, 90, 220, 0.4);

    @include mobile {
        left: -60px;
        bottom: -40px;
        height: 90px;
        width: 150px;
        max-width: 45vw;
    }
}

.shape2 {
    width: min(28vw, 300px);
    height: 120px;

    right: -100px;
    bottom: -90px;

    background: rgba(80, 90, 220, 0.2);

    @include mobile {
        right: -70px;
        bottom: -60px;
        width: 170px;
        max-width: 50vw;
        height: 110px;
    }
}