
$deepNavyBlue: hsl(241.43deg 95.45% 8.63%);
$darkBluePurple: hsl(240deg 26% 19.61%);
$blueGrayDark: hsl(240deg 21.67% 23.53%);
$blueGray: hsl(240, 10%, 65%);
$darkSlateBlue: hsl(240, 20%, 23%);
$darkSlate: hsl(240, 15%, 27%);
$DarkNav: rgb(37 37 63);
$MutedIndigo: rgb(60 59 93);
$indigoBlue: hsl(233.06deg 65.92% 56.27%);
$white: hsl(0, 0%, 100%);
$gray: #555;