@use '/src/styles/colors.scss';
@use '../../styles/mixins.scss' as *;

.lastContainer {
    display: flex;
    width: 100%;
    gap: 10px;
    padding: 14px 0px 14px 0px;

    .containerForecast {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 114px;
        width: 86px;
        gap: 14px;
        padding: 8px;
        border-radius: 10px;
        background: colors.$darkBluePurple;

        .daysWeek {
            color: colors.$white;
        }

        .gradue {
            display: flex;
            justify-content: space-between;
            width: stretch;
            padding: 6px;
            color: colors.$white;
        }
    }

     @include mobile {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        max-width: 400px;

        .containerForecast{
            width: 104px;
        }
    }
}