@use '/src/styles/colors.scss';

.lastContainer {
    display: flex;
    height: 30%;
    width: 100%;
    gap: 10px;
    padding: 14px 0px 14px 0px;

    .containerForecast {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 86px;
        gap: 20px;
        padding: 6px;
        border-radius: 10px;
        background: colors.$darkBluePurple;

        .daysWeek{
            color: colors.$white;
        }
    }
}