@use './styles/colors.scss';



@font-face {
  font-family: "Bricolage Grotesque";
  src: url("./fonts/BricolageGrotesque-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Bricolage Grotesque", sans-serif;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: colors.$deepNavyBlue;

  .headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    padding: 0px 80px 0px 40px;

    img {
      height: fit-content;
    }

    .dropdownMenu {
      height: 30px;
      width: 70px;

      .containerIconsAndButton {
        display: flex;
        height: 30px;
        width: 100px;

        .arrowDown {
          color: colors.$white;
        }

        .menu {
          display: flex;
          align-items: center;
          justify-content: space-between;
          color: colors.$white;
          height: 30px;
          width: 90px;
          border: 1px solid colors.$darkBluePurple;
          border-radius: 5px;
          background: colors.$darkBluePurple;
        }
      }

      .popupWindow {
        position: absolute;
        right: 68px;
        width: 170px;
        padding: 10px;
        margin-top: 10px;
        border-radius: 10px;

        background: colors.$darkBluePurple;

        display: flex;
        flex-direction: column;
        align-items: stretch;

        button {
          position: relative;
          display: block;
          width: 100%;
          padding: 8px 6px;
          margin: 0;

          text-align: left;
          font-size: 12px;
          color: colors.$white;

          border: none;
          border-radius: 6px;
          background: transparent;

          cursor: pointer;

          &:hover {
            background: colors.$darkSlateBlue;
          }

          &.selected {
            background: colors.$blueGrayDark;

            &::after {
              content: "✓";
              position: absolute;
              right: 8px;
              color: colors.$white;
            }
          }
        }

        .separator {
          height: 1px;
          margin: 4px 0;
          background-color: colors.$darkSlate;
        }

        p {
          margin: 8px 6px 4px;
          color: colors.$blueGray;
          font-size: 12px;
        }

        hr {
          border: none;
          border-top: 1px solid colors.$gray;
          margin: 10px 0;
        }
      }
    }
  }

  .containerTittleAndSeeker {
    text-align: center;

    h1 {
      font-size: 44px;
      color: colors.$white;
    }

    .search {

      input {
        height: 40px;
        width: 430px;
        padding: 10px;
        margin-right: 16px;
        border: 1px solid colors.$darkBluePurple;
        border-radius: 10px;
        color: colors.$white;
        background: colors.$darkBluePurple;

        &::placeholder {
          color: colors.$white;
        }
      }

      button {
        height: 40px;
        width: 70px;
        border: 1px solid colors.$indigoBlue;
        border-radius: 10px;
        color: colors.$white;
        background: colors.$indigoBlue;
        cursor: pointer;
      }
    }
  }
}